@page "/"
@using global::Rystem.OpenAi;
@using global::Rystem.OpenAi.Models;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_models != null)
{
    @foreach (var model in _models)
    {
        <div>@model.Id</div>
        <div>@model.Object</div>
        <div>@model.OwnedBy</div>
    }
}




@code {
    [Inject]
    public IOpenAiApi Api { get; set; }
    
    private List<Model> _models;
    protected override async Task OnParametersSetAsync()
    {
        //_models = await Api.Model.ListAsync();
        //await base.OnParametersSetAsync();
    }
}
